<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fBlog - Article from the heart</title>
    style
        include CSS/style.css
    style
        include CSS/utile.css
    style
        include CSS/mobile.css
    style
        include CSS/blogpost.css
</head>

<body>
    <nav class="container max-width-2 m-auto">

       <div class="left">
        <ul>
            <li><a class="logo" href="/">fBLOG</a></li>
        </ul>

            <ul class="list">
                <li><a class="ol" href="/">HOME</a></li>
                <li><a class="ol" href="/about">ABOUT</a></li>
                <li><a class="ol" href="/contect">CONTECT</a></li>
            </ul>
        </div>

        <div class="right">
            <form action="/search" method="get">
                <input type="search" placeholder="Search a article..." name="query" class="search-box">
                <button class="btn">Search</button>
            </form>
        </div>
    </nav>

    <div class="max-width-2 m-auto m-t">
        <hr>
    </div>

    <div class="blog-post mt">
        <img src="Gallery/blog-1.png" alt="">
    </div>

    <div class="heading max-width-1 m-auto">
        <h2>This is your blog</h2>
    </div>
    <div class="post max-width-1 m-auto m-t">
        <div class="auther-info">
            <div><b> Auther- S.K. Subhramanyam</b></div>
            <div> Reading Time- 15 min</div>
        </div>

    </div>

    <main class="main-box max-width-1 m-auto">

        <div class="left-main mt">

            <p class="responsive"> Computer programming is the process of designing and building an executable computer program to accomplish a specific computing result or to perform a particular task. Programming involves tasks such as analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms in a chosen programming language (commonly referred to as coding).[1][2] The source code of a program is written in one or more languages that are intelligible to programmers, rather than machine code, which is directly executed by the central processing unit. The purpose of programming is to find a sequence of instructions that will automate the performance of a task (which can be as complex as an operating system) on a computer, often for solving a given problem. Proficient programming thus usually requires expertise in several different subjects, including knowledge of the application domain, specialized algorithms, and formal logic.

                Tasks accompanying and related to programming include testing, debugging, source code maintenance, implementation of build systems, and management of derived artifacts, such as the machine code of computer programs. These might be considered part of the programming process, but often the term software development is used for this larger process with the term programming, implementation, or coding reserved for the actual writing of code. Software engineering combines engineering techniques with software development practices. Reverse engineering is a related process used by designers, analysts, and programmers to understand and re-create/re-implement.[3]Programmable devices have existed for centuries. As early as the 9th century, a programmable music sequencer was invented by the Persian Banu Musa brothers, who described an automated mechanical flute player in the Book of Ingenious Devices.[4][5] In 1206, the Arab engineer Al-Jazari invented a programmable drum machine where a musical mechanical automaton could be made to play different rhythms and drum patterns, via pegs and cams.[6][7] In 1801, the Jacquard loom could produce entirely different weaves by changing the "program"  a series of pasteboard cards with holes punched in them.

                Code-breaking algorithms have also existed for centuries. In the 9th century, the Arab mathematician Al-Kindi described a cryptographic algorithm for deciphering encrypted code, in A Manuscript on Deciphering Cryptographic Messages. He gave the first description of cryptanalysis by frequency analysis, the earliest code-breaking algorithm.[8]
                
                The first computer program is generally dated to 1843, when mathematician Ada Lovelace published an algorithm to calculate a sequence of Bernoulli numbers, intended to be carried out by Charles Babbage's Analytical Engine.[9]
            </p>

        </div>

    </main>
    <br>

    <div class="max-width-1 m-auto">
        <hr>
    </div><br>

    <h2 class="blog-hdg max-width-1 m-auto">Also Read Article-</h2>
    <div class="main-2 max-width-1 m-auto">

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="Gallery/agriculture.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><b> Auther Name- J.D. Shivnandan </b></div>
                <div>4 month ago | 6 min to read</div>
                <p class="responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, animi!</p>
            </div>
        </div><br>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="Gallery/youth.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><b> Auther Name- K.P. Bhati </b></div>
                <div>4 month ago | 6 min to read</div>
                <p class="responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, animi!</p>

            </div>
        </div><br>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="Gallery/agriculture.jpg" alt=""></a>
            </div>

            <div class="right-content">

                <div><b> Auther Name- J.D. Shivnandan </b></div>
                <div>4 month ago | 6 min to read</div>
                <p class="responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, animi!</p>

            </div>
        </div><br>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="Gallery/media.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><b> Auther Name- Mahakavi Kalidas </b></div>
                <div>4 month ago | 6 min to read</div>
                <p class="responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, animi!</p>

            </div>

        </div><br>

    </div><br>


    <footer>
        <div class="footer-ar  m-auto">
            <div class="left-foot">
                <p class="responsive">fBlog - Article from the heart </p>
                <p class="responsive">fBlog &copy Copyright-2021-22 HTML,CSS,Js</p>
            </div>

    </footer>

</body>

</html>