<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fBlog - Article from the heart</title>
    style
        include ../static/css/style.css
    style
        include ../static/css/utile.css
    style
        include ../static/css/mobile.css
</head>

<body>
    <nav class="container max-width-2 m-auto">

       <div class="left">
        <ul>
            <li><a class="logo" href="/">fBLOG</a></li>
        </ul>

            <ul class="list">
                <li><a class="ol" href="/">HOME</a></li>
                <li><a class="ol" href="/">ABOUT</a></li>
                <li><a class="ol" href="/contect">CONTECT</a></li>
            </ul>
        </div>

        <div class="right">
            <form action="/search" method="get">
                <input type="search" placeholder="Search a article..." name="query" class="search-box">
                <button class="btn">Search</button>
            </form>
        </div>
    </nav>

    <div class="max-width-2 m-auto m-t">
        <hr>
    </div>

    <br>
    <div class="max-width-1 m-auto">
        <h3>Search Result (0.04 sec)</h3>
    </div>

    <div class="main-2 max-width-1 m-auto">

        <div class="h-3">
            <h3>Agriculture</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/agriculture.jpg" alt=""></a>
            </div>

            <div class="right-content">

                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- J.D. Shivnandan </b></a></div>
                <div>4 month ago | 6 min to read</div>
            </div>
        </div><br>

        <div class="h-3">
            <h3>Importance of Uria</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/agriculture.jpg" alt=""></a>
            </div>

            <div class="right-content">

                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- J.D. Shivnandan </b></a></div>
                <div>4 month ago | 6 min to read</div>
            </div>
        </div><br>

        <div class="h-3">
            <h3>Youth-globle future</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/youth.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- K.P. Bhati </b></a></div>
                <div>4 month ago | 6 min to read</div>
            </div>
        </div><br>

        <div class="h-3">
            <h3>Kavi Sammellan</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/media.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- Mahakavi Kalidas </b></a></div>
                <div>4 month ago | 6 min to read</div>
            </div>

        </div><br>

        <div class="h-3">
            <h3>Politics</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/media.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- Vipin Chandra Chatarji</b></a>
                </div>
                <div>4 month ago | 6 min to read</div>
            </div>

        </div><br>

        <div class="h-3">
            <h3>Media</h3>
        </div>

        <div class="content article-width">

            <div class="left-content">
                <a href="/blogpost"><img src="/static/media.jpg" alt=""></a>
            </div>

            <div class="right-content">
                <div><a class="text-decoration" href="/blogpost"><b> Auther Name- S.K. Rajnaath </b></a></div>
                <div>4 month ago | 6 min to read</div>
            </div>

        </div><br>


    </div><br>


    <footer>
        <div class="footer-ar  m-auto">
            <div class="left-foot">
                <p class="responsive">fBlog - Article from the heart </p>
                <p class="responsive">fBlog &copy Copyright-2021-22 HTML,CSS,Js</p>
            </div>

    </footer>

</body>

</html>